# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Jupyter Notebook metadata
*.nbconvert.ipynb

# Virtual environment
venv/
*venv*/
.env/
.envrc
*.env

# Temporary image files for prediction
temp_uploaded_image.jpg

# Logs and outputs
*.log
*.out

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Python egg info
*.egg